@import 'reset.css';

body{
    background: url('login壁纸.jpg') no-repeat;
    background-size: 100% 564px;   
}

#login-box{
    background-color: rgba(0, 0, 0, 0.425);
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 350px;
    height: 400px;
    border-radius: 13px;
}

#login-box h1{
    padding-top: 30px;
    color: #fff;

}

#login-box input{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #fff;
    caret-color: rgb(182, 176, 176);
    margin: 0 auto;
    padding-bottom: 10px;
    margin-top: 25px;
    color: #afa3a3;
    /*  */


}

#login-box button{
    margin-top: 30px;
    width: 130px;
    height: 35px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #f5a0a2 20%, #a6c0fe 100%);
    cursor: pointer;
    color: #fff;
    
}
